.containerGrid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    
}


.gridProyect{
    width: 200px;
    border: 1px solid black;
    list-style: none;
    background: rgb(119, 25, 25);
}

.gridProyect__img {
    width: 150px;
    padding: 25px;
}
