.container{
    background: azure;
}

.formBusc {
    width: 30%;
    height: 20px;
    display: flex;

}

.containerGrid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}


.gridProyect{
    width: 200px;
    border: 1px solid black;
    list-style: none;
}